nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 10rem 0rem 10rem;

  button {
    background: transparent;
    width: 50px;
    border-radius: 10%;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      color: white;
      background: $primary-color;
    }
  }
}

@media screen and (max-width: 1200px) {
  nav {
    margin: 0rem 10rem 0rem 10rem;
  }
}


@media screen and (max-width: 760px) {
  nav {
    margin: 0rem 4rem 0rem 4rem;
  }

  button svg{
    transform: scale(1.5);
  }
}
