.song-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  @keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
  }

  .album {
    width: 25%;
    border-radius: 50%;
    // overflow: hidden;
    animation: rotation 100s infinite linear;

  }

  .albumActive {
    width: 25%;
    border-radius: 70%;
    // overflow: hidden;
    animation: rotation 10s infinite linear;
    }

  
  h2 {
    padding: 2rem 1rem 0.5rem 1rem;
    color: $primary-text-color;
    text-align: center;
    width: 80vw;
  }

  h3 {
    font-size: 1rem;
    color: $primary-text-color;
    text-align: center;
  }
}

.lyrics-1 {
  width: 50%;
  // height: 6rem !important;
  text-align: center;
  margin: 2rem 0rem;
  white-space: pre-line;
}

@media screen and (max-width: 768px) {
  .song-container {
    margin-top: -10px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
    padding: 1rem 1rem 0.5rem 1rem;
    color: $primary-text-color;
    text-align: center;
    width: 80vw;
  }

    .lyrics-1 {
      width: 90%;
      margin: 1rem 0rem;
    }
    .album {
      width: 50%;
    }

    .albumActive {
      width: 50%;
    // overflow: hidden;
    animation: rotation 10s infinite linear;
    }
  }
}
